<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>User Name Here</h3>
        </div>

        <div class="user-picture">
            User Photo Here
        </div>

        <div class="sidebar-links">
            <br><a href= "/users/child">Child</a>
            <br><a href="/users/inbox">Inbox</a>
            <br><a href="/users/edit">Update Account</a>
            <br><a href="users/invoices">User Invoices</a>
        </div>
    </nav>
</div>