<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><%= currentUser.userName %></h3>
            


        </div>

        <div class="sidebar-links">
            <br><a href= "/child" class="btn sb-btn">Children</a>
            <br><a href="/emails/inbox" class="btn sb-btn">Inbox</a>
            <br><a href="/calendar/month" class="btn sb-btn">Calendar</a>
            <% if(currentUser && (currentUser.role === 'admin')) { %>
                <br><a href="/mealOptions/mealEntry" class="btn sb-btn">Add Meals to Calendar</a>
            <% } %> 
            
        </div>

    </nav>
</div>