<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/sideBar.ejs %>

    <main class="container">
      <h1>Children</h1>

      <a href="/child/new" class="btn btn-primary btn-lg">Add a child</a>
        
      <ul class="list-group">
        <% childs.forEach((child) => { %>
          <li class="list-group-item">
            <%= child.firstName %> <%= child.lastName %> <%= child.school %>
            <a href="/child/<%= child.id %>/edit" class="btn btn-warning">Edit</a>
          </li>
        <% }) %>
      </ul>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>