<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/sideBar.ejs %>

    <main class="container">
      <div class="pageHead">
          <h1>Children</h1>
      </div>
      
      
      
        
      <ul class="list-group">
        <% children.forEach((child) => { %>
          <% if(currentUser && (currentUser.id === child.userId)) { %>
            <li class="list-group-item">
              <div class="childNameList">
                  <%= child.firstName %> <%= child.lastName %> 
              </div>
              
              <div class="childSchool">
                  <%= child.school %>
              </div>
              <a href="/child/<%= child.id %>/edit" class="btn btn-edit-child">Edit</a>
            </li>
          <% } %>
          
        <% }) %>
      </ul>

      <div id="newChildButton">
          <a href="/child/new" class="btn confirm-button">Add a child</a>
      </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>