
main {

    background-color:#fff3f6;
    
    

}

body {
    min-height: 100%;
    background-color:#fff3f6;
    font-family: 'Karla', sans-serif;
    
}

main.container {
    margin-top: 56px;
    margin-left: 250px;
    width: auto;
    padding: 7% 7% 5% 7%; 
    position: sticky;
    z-index: 1;
    
}

.heading {
    padding-bottom: 5%;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.navbar {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 2;
    background-color: #dfdfdf;
}

.addDisc {
    text-align: center;
}

.pageHead {
    padding: 3%;
    text-align: center;
}

/****** SIDEBAR ******/

#sidebar {
    margin-top: 56px;
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    background-color: #ffd1dc;
    
    
}

.sidebar-header {
    margin-top: 10%;
    text-align: center;
}

.sidebar-links {
    margin: 10px 20px 10px 10px;
    padding: 10%;
    text-align: center;
}

.sb-btn {
    background-color: pink;
    margin: 5px;
    width: 175px;
    box-shadow: 2px 2px 5px grey;
}

.sb-btn:hover {
    box-shadow: 2px 2px 5px black;
    font-weight: bold;
}


/****** INDEX PAGE ******/

.introHeader {
    margin: 10%;
    text-align: center;
}

.indexIntro {
    margin: 10% 20% 10% 20%;
    text-align: center;
}

.indexSignUpButton {
    text-align: center;
}


/****** SIGN IN PAGE ******/
.signInForm{
    margin: 5% 35% 18% 35%;
    padding: 25px;
    text-align: center;
    display: inline-flex;
    background-color: lightgrey;
    box-shadow: 3px 3px 3px grey;
}

.signIn{
    text-align: center;
    margin-top: 10%;
}

/****** SIGN UP PAGE ******/

.signUpForm {
    margin: 40px 180px 30px 180px;
    padding: 20px;
    box-shadow: 5px 5px 5px grey;
    background-color: lightgrey;
}

.signUp {
    text-align: center;
    margin: 5% 10% 0% 10%;
}

.signUpPage {
    margin-top: 56px;
}


/******* CALENDAR SECTION *******/

.calendarMonth { 
    display: block;
    margin: 5% 10%;
    box-shadow: 2px 2px 5px;
    
}

th {
    text-align: center;
    padding: 10px;
}

table#month {
    background-color: lightgray;
   
    
}

tr#options {
    height: 100px;

}

.dayId {
    text-align: center;
}


/* Date row of table */
tr#days {
    text-align: center;
    height: 40px;
}

td {
    border: 3px solid black;
    border-radius: 10px;
    width: 150px;
}

/*Date cell of table */ 
td#date{
    text-align: left;
    
}

.childName{
    font-weight: bold;
    font-size: 300%;
}


/****** DAY/ORDER SECTION ******/


.orderList {
    text-align: center;
}

.orderSection {
    background-color: #dfdfdf;
    box-shadow: 3px 3px 5px grey;
    padding: 5% 15% 5% 15%;
    text-align: center;
}

input[type="radio"] {
    margin-right: 15px;
  }

/****** BUTTON SECTION ******/ 


a:visited {
    color: black;
}

.confirm-button {
    background-color: pink;
    margin: 5px;
    width: 175px;
    box-shadow: 2px 2px 5px grey
}

.confirm-button:hover {
    box-shadow: 2px 2px 5px black;
    font-weight: bold;
}

.second-btn {
    background-color: #ba8c97;
    box-shadow: 2px 2px 5px grey;
}

.second-btn:hover {
    box-shadow: 2px 2px 5px black;
    font-weight: bold;
}


/****** CHILD SECTION ******/

.childNameList{
    font-size: 24px;
    
}

.childSchool{
    text-align: center;
    display: inline;
    font-size: 14px;
}

.btn-edit-child {
    float: right;
    background-color: #ba8c97;
    box-shadow: 2px 2px 5px grey;
}

.btn-edit-child:hover {
    box-shadow: 2px 2px 5px black;
    font-weight: bold;
}


#newChildButton{
    padding-top: 20px;
}

.newChild {
    text-align: center;
    margin-bottom: 40px;
}
.newChildForm {
    background-color: #ffd1dc;
    box-shadow: 3px 3px 5px grey;
    padding: 30px;
    margin: 30px;
}


.editChildForm {
    margin: 20px 20px 0px 20px;
    padding: 0% 20% 1% 20%;
}

.childDelete {
    text-align: center;
}

.childEditButtons {
    text-align: center;
}

.childDelete-btn {
    background-color: #c6bad6;
    box-shadow: 3px 3px 3px grey;
    height: 50px;
    width: 100px;
}

.childDelete-btn:hover {
    background-color: #d65757;
    box-shadow: 3px 3px 3px black;
}

/****** EMAIL SECTION ******/

.newEmail {
    background-color: rgb(212, 212, 212);
    box-shadow: 3px 3px 5px grey;
    padding: 10px 10px 10px 15px;
    margin: 10px;
    font-size: 20px;
}

.btn-primary#sendEmail{
    margin-top: 10px;
    margin-left: 25px;
}

a#emailSubject {
    padding-right: 50px;
}

.emailDate{
    float: right;
}

.btn-primary-newEmail{
    float: right;
    background-color: bisque;
}

.btn-primary-inbox{
    background-color: bisque;
    
}

.emailHeader{
    background-color: grey;
    border-radius: 5px;
    padding: 10px 5px 5px 10px;
    margin: 5px 25% 10px 0px;
    font-size: 14pt;
}

.emailBody {
    background-color: rgb(223, 213, 213);
    border-radius: 5px;
    height: 150px;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 10%;
}

.inbox {
    padding: 20px;
    margin: 5%;
    background-color:white;
    box-shadow: 3px 3px 3px grey;
}

.sentButton {
    float: right;
}
.newButton {
    float: right;
}
.inboxButtons {
    margin: 0% 10% 0% 10%;
}

.messageHeader {
    text-align: center;
    margin-bottom: 40px;
}