<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/navbar.ejs %>


    <main>

        <% include ../static/partials/messages.ejs %>
        <div class="introHeader">
            <h1>Welcome to SackLunch</h1>
        </div>
        

        <div class="indexIntro">
            SackLunch is a place for parents on the go to order exciting, delicious, and afforable sack lunches for daily delivery at their children's school. Signing up is easy and you can start having lunches delivered as early as tomorrow!
        </div>

        <div class="indexSignUpButton">
            <a href="/users/sign_up" class="btn confirm-button">Sign Up</a>
        </div>
        
    </main>

    <% include ./partials/baseScripts.ejs %>

  </body>
</html>