<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>
        <% include ../static/partials/navbar.ejs %> 
        <% include ../static/partials/sideBar.ejs %>

        

        <main class="container">

            <table id="month" style="width:100%">
                    <th colspan="5">October 2018</th>
                    <tr>
                        <th>Monday</th>
                        <th>Tuesday</th> 
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                    <tr id="days">
                        <td>1</td>
                        <td>2</td> 
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr id="options">
                        <td>
                            option 1 <br>
                            option 2 <br>
                            option 3 <br>
                        </td>
                        <td>
                            option 1<br>
                            option 2<br>
                            option 3<br>
                        </td>
                        <td>
                            option 1<br>
                            option 2<br>
                            option 3<br>
                        </td>
                        <td>
                            option 1<br>
                            option 2<br>
                            option 3<br>
                        </td>
                        <td>
                            option 1<br>
                            option 2<br>
                            option 3<br>
                        </td>

                    </tr>
                    <tr id="days">
                        <td>8</td>
                        <td>9</td> 
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                    <tr id="options">
                        <td>
                            option 1 <br>
                            option 2 <br>
                            option 3 <br>
                        </td>
                        <td>
                            option 1<br>
                            option 2<br>
                            option 3<br>
                        </td>
                        <td>
                            option 1<br>
                            option 2<br>
                            option 3<br>
                        </td>
                        <td>
                            option 1<br>
                            option 2<br>
                            option 3<br>
                        </td>
                        <td>
                            option 1<br>
                            option 2<br>
                            option 3<br>
                        </td>

                    </tr>
                    <tr id="days">
                        <td>15</td>
                        <td>16</td> 
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                    </tr>
                    <tr id="options">
                        <td>
                            option 1 <br>
                            option 2 <br>
                            option 3 <br>
                        </td>
                        <td>
                            option 1 <br>
                            option 2 <br>
                            option 3 <br>
                        </td>
                        <td>
                            option 1 <br>
                            option 2<br>
                            option 3<br>
                        </td>
                        <td>
                            option 1<br>
                            option 2<br>
                            option 3<br>
                        </td>
                        <td>
                            option 1<br>
                            option 2<br>
                            option 3<br>
                        </td>

                    </tr>
                    <tr id="days">
                        <td>22</td>
                        <td>23</td> 
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>  
                    </tr>
                    <tr id="options">
                        <td>
                            option 1 <br>
                            option 2 <br>
                            option 3 <br>
                        </td>
                        <td>
                            option 1 <br>
                            option 2 <br>
                            option 3 <br>
                        </td>
                        <td>
                            option 1 <br>
                            option 2 <br>
                            option 3 <br>
                        </td>
                        <td>
                            option 1 <br>
                            option 2 <br>
                            option 3 <br>
                        </td>
                        <td>
                            option 1 <br>
                            option 2 <br>
                            option 3 <br>
                        </td>

                    </tr>
                    <tr id="days">
                        <td>29</td>
                        <td>30</td> 
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr id="options">
                        <td>
                            option 1 <br>
                            option 2 <br>
                            option 3 <br>
                        </td>
                        <td>
                            option 1 <br>
                            option 2 <br>
                            option 3 <br>
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>

                    </tr>
                  </table>
        </main>
        
    </body>
</html>