<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
        <% include ../static/partials/sideBar.ejs %> 

        <main class="container">
            <h1>Messages</h1>

            <% if(currentUser && currentUser.role === "parent") { %>
                <a href="/emails/new" class="btn btn-primary btn-lg">New Message</a>
                <a href="/emails/sent" class="btn btn-primary btn-lg">Sent Messages</a>
            <% } %>
            
            <% if(currentUser && currentUser.role === "admin") { %> 
                <a href="/emails/adminNew" class="btn btn-primary btn-lg">New Message</a>
                <a href="/emails/sent" class="btn btn-primary btn-lg">Sent Messages</a>
            <% } %>
            
            <br><br>
            <ul class="list-group">
                <% emails.forEach((email) => { %>
                    <% if(currentUser && (currentUser.firstName === email.recipient)) { %>
                        <li class="list-group-item">
                            <a href="/emails/<%= email.id %>"> <%= email.subject %></a>
                        </li>
                    <% } %>

                    <% if(currentUser && (currentUser.role === email.recipient)) { %>
                        <li class="list-group-item">
                            <a href="/emails/<%= email.id %>"> <%= email.subject %></a>
                        </li>
                    <% } %>
                    
                <% }) %>
            </ul>
        </main>
    </body>
</html>