<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
        <% include ../static/partials/sideBar.ejs %> 

        <main class="container">
            <h1>Messages</h1>

            <ul class="list-group">
                <% emails.forEach((email) => { %>
                    <li class="list-group-item">
                        <a href="/emails/<%= email.id %>"> <%= email.subject %></a>
                    </li>
                <% }) %>
            </ul>
        </main>
    </body>
</html>