<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
        <% include ../static/partials/sideBar.ejs %> 

        <main class="container">
            <div class="pageHead">
                <h1>Messages</h1>
            </div>
            
            <div class="inboxButtons">
                <a href="/emails/inbox" class="btn confirm-button">Inbox</a>

                <div class="newButton">
                    <a href="/emails/new" class="btn second-btn">New Message</a>
                </div>
            </div>

            
            <div class="inbox">
                    <ul class="list-group" >
                            <% emails.forEach((email) => { %>
                                <% if(currentUser && (currentUser.id === email.userId)) { %>
                                    <li class="list-group-item">
                                        <a href="/emails/<%= email.id %>" id="emailSubject"> <%= email.subject %></a> <div class="emailDate"><%= email.createdAt %></div>
                                    </li>
                                <% } %>
                                
                            <% }) %>
                    </ul>
            </div>
            

            
            
        </main>
    </body>
</html>