<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>
        <% include ../static/partials/navbar.ejs %> 
        <% include ../static/partials/sideBar.ejs %>

        

        <main class="container">
            
            <% include ../static/partials/messages.ejs %>
            
            <div class= pageHeading>
                Welcome Back!<br>
            </div>

            <div class="landingText"></div>
                Visit the Calendar Page to Order a meal.
            </div>
        </main>
        
    </body>
</html>