<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>
   

    <main>

      <% include ../static/partials/messages.ejs %>

      <div class="signIn"><h1>Sign In</h1></div>

      <div class="signInForm">
        
          
          <form action="/users/sign_in" method="post">

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" placeholder="Enter email" style="width: 250px;">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Enter password" style="width: 250px;" >
            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
      </div>

      
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>